
mat-form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

mat-card{
  background-color: rgb(240, 208, 120);
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}
